.popupHeader {
  background-color: #00255f;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.popupHeader h1 {
  font-size: 1.2rem;
  flex: 1;
  margin: 0;
  color: #fff;
}

.popupHeader a button,
.buttonBox button {
  font-size: 1rem;
  background-color: #fff;
  color: #00255f;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

.buttonBox button {
  background-color: #00255f;
  color: #fff;
  max-width: 100px;
}

.popupHeader a button:hover {
  background-color: #e0e0e0;
}

#popupForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1em;
}

#popupForm .inputBox {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 5rem;
}
.searchManuallyBox {
  display: flex;
  gap: 0.5rem;
}
#popupForm .inputBox input {
  width: 100%;
  max-width: 500px;
  justify-self: start;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.inputBox label {
  font-size: 1rem;
  width: max-content;
}

#popupForm .inputBox input[id="chapter"],
#popupForm .inputBox input[id="lastChapter"] {
  max-width: 5em;
}
#popupForm .inputBox input:focus,
.textAreaBox textarea:focus {
  outline: none;
  border-color: #00255f;
}

.textAreaBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.textAreaBox textarea {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  max-height: 10rem;
  border-radius: 3px;
  resize: vertical;
}
#popupForm label {
  font-size: 1.2rem;
  color: #00255f;
}

.optional {
  font-size: 0.8rem;
  color: #515151;
}

.popupHeader a button:hover {
  background-color: #e0e0e0;
}

.select {
  max-width: 200px;
  padding: 0.3rem;
  margin-left: 0.25rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  transition: border-color 0.2s;
}

.select:focus {
  border-color: #5a67d8;
  outline: none;
}
@media (max-width: 320px) {
  .popupHeader h1 {
    font-size: 1rem;
  }

  #popupForm label {
    font-size: 0.9rem;
  }

  .popupHeader a button,
  .buttonBox button {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}
@media (max-width: 768px) {
  .popupHeader h1 {
    font-size: 1rem;
  }

  #popupForm label {
    font-size: 0.9rem;
  }

  .popupHeader a button,
  .buttonBox button {
    font-size: 0.9rem;
    padding: 6px 8px;
  }

  .select {
    font-size: 0.9rem;
  }

  .optional {
    font-size: 0.75rem;
  }
}

@media (max-width: 375px) {
  .popupHeader h1 {
    font-size: 0.95rem;
  }

  #popupForm label {
    font-size: 0.85rem;
  }

  .popupHeader a button,
  .buttonBox button {
    font-size: 0.85rem;
    padding: 5px 8px;
  }

  .select {
    font-size: 0.85rem;
  }

  .optional {
    font-size: 0.7rem;
  }
}
